<head>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.8.0"></script>
</head>
<body>
<div style="width: 50%;height: 50%">
  <canvas id="myChart" ></canvas>
</div>

</body>
<script>
  var nd=0;
  var ws = new WebSocket('ws://localhost:1888');
  ws.binaryType = 'arraybuffer';
  ws.onopen = function() {
    console.log('open');
  }
  ws.onmessage = function (evt) {
    nd++;
    console.log(evt.data);
    var text = `<li>${evt.data}</li>`;
    // $('#tada').append(text);
    nd=evt.data
    console.log(evt.data);
  }

  function randomScalingFactor() {
    return nd;
  }

  function onRefresh(chart) {
    chart.config.data.datasets.forEach(function(dataset) {
      dataset.data.push({
        x: Date.now(),
        y: randomScalingFactor()
      });
    });
  }

  var color = Chart.helpers.color;
  var config = {
    type: 'line',
    data: {

    },
    options: {
      title: {
        display: true,
        text: 'Biểu đồ theo dõi nhiệt độ hiện tại'
      },
      scales: {
        xAxes: [{
          type: 'realtime',
          scaleLabel: {
            display: true,
            labelString: 'Thời gian'
          },
          realtime: {
            duration: 20000,
            refresh: 1000,
            delay: 1000,
            onRefresh: onRefresh
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Nhiệt độ'
          }
        }]
      },
      tooltips: {
        mode: 'nearest',
        intersect: false
      },
      hover: {
        mode: 'nearest',
        intersect: false
      }
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('myChart').getContext('2d');
    window.myChart = new Chart(ctx, config);
  };



</script>